{# Indica que esta extendiendo el templete de base #}
{% extends "base.html" %}

{# Importa CSS relevante a la pagina #}
{% block importes %}
<link rel="stylesheet" href="../static/style_dashboard.css">
{% endblock %}


{# Inserta el contenido de la pagina #}
{% block contenido %}
<!-- Contenedor principal -->
<div class="dashboard">
    <!-- Encabezado -->
    <div class="header">
        <div>
            <h1>Mi Cuenta OmniGuard</h1>
            <h2>Bienvenido, {{nombre}}!</h2>
        </div>

        <!-- Información del usuario -->
        <div class="user-info">
            <div class="avatar" id="userAvatar">XD</div>
            <a class="back-link" id="newUserLink">Crear nuevo usuario</a>
            <button class="logout-btn" id="logoutBtn">Cerrar Sesión</button>
        </div>
    </div>

    <!-- Contenedor de tarjetas -->
    <div class="cards-container">

        <!-- Tarjetas -->
        <div class="card">
            <h3>Resumen</h3>
            <p>
                Bienvenido a tu panel de control. Es una prueba de mis habilidades XD.
                Asi que no te emociones
            </p>
        </div>

        <div class="card">
            <h3>Actividad Reciente</h3>
            <p>No hay actividad reciente para mostrar.</p>
        </div>

        <div class="card">
            <h3>Notificaciones</h3>
            <p>No hay estas solo 😔</p>
        </div>

        <div class="card">
            <h3>Configuración</h3>
            <p>
                Personaliza tu experiencia de usuario,
                como si no tuvieras otra mejor cosa que hacer en tu vida XD
            </p>
        </div>
    </div>

    <!-- Contenedor de la tabla -->
    <div class="table-container">
        <h2>Usuarios del Sistema: </h2>
        <table class="tabla-datos">

            <!-- Encabezado de la tabla -->
            <thead>
                <tr>
                    <th>#</th>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Contraseña</th>
                    <th>Opciones</th>
                </tr>
            </thead>

            <!-- Cuerpo de la tabla -->
            <!-- Este se llena dinamicamente con los registros de la base de datos -->
            <tbody id="userTableBody">
            </tbody>
        </table>
    </div>

    <script src="../static/scripts_dashboard.js"></script>
</div>
{% endblock %}