{# Indica que esta extendiendo el templete de base #}
{% extends "base.html" %}

{# Importa CSS relevante a la pagina #}
{% block importes %}
<link rel="stylesheet" href="/static/style_new_user.css"> 
{% endblock %}

{# Inserta el contenido de la pagina #}
{% block contenido %}
<!-- Contenedor principal -->
<div class="card">
    <a href="/dashboard" class="back-link">← Volver</a> <!-- Enlace para volver a la página de inicio de sesión -->
    <h1>Editar Usuario</h1>

    <!-- Formulario para crear un nuevo usuario -->
    <form id="userForm">

        <!-- Campo para el nombre de usuario -->
        <div class="form-group">
            <label for="fullname">Nombre</label>
            <input type="text" id="fullname" required>
        </div>

        <!-- Campo para la contraseña -->
        <div class="form-group">
            <label for="password">Contraseña (Dejar vacio para no cambiar)</label>
            <input type="password" id="password" placeholder="Mínimo 8 caracteres">
            <p class="password-requirements">La contraseña debe contener al menos 8 caracteres</p>
            <p class="error-message" id="passwordError">La contraseña debe tener al menos 8 caracteres</p>
        </div>

        <div class="divider"></div>

        <!-- Campo para crear el usuario -->
        <div class="button-group">
            <button type="submit" class="btn btn-primary">Actualizar Usuario</button>
        </div>
    </form>

    <!-- Mensaje de error -->
    <div class="success-message" id="successMessage">
        ¡Usuario actualizado exitosamente!
    </div>
</div>

<script type="module" src="{{ url_for('static', filename='script_edit_user.js') }}"></script>
{% endblock %}
